{{- if and .Values.install .Values.config }}
kind: Secret
apiVersion: v1
metadata:
  name: {{ .Values.name }}-config
  labels:
    app.kubernetes.io/name: {{ .Values.name }}-config
    app.kubernetes.io/instance: {{ cat .Values.name "-config-" .Release.Namespace | nospace | trunc 63 | trimSuffix "-" }}
    app.kubernetes.io/component: promxy
    app.kubernetes.io/part-of: monitoring
    {{- $image := include "promxy.image" . }}
    app.kubernetes.io/version: {{ splitList ":" $image | last }}
type: Opaque
stringData:
  config.yaml: |
  {{- if .Values.config.detailedConfig }}
    {{- toYaml .Values.config.detailedConfig | nindent 4 }}
  {{- else }}
    global:
      evaluation_interval: 5s
      external_labels:
        source: promxy
    promxy:
      server_groups:
        {{- range .Values.config.serverGroups }}
        - static_configs:
            - targets:
                {{- include "promxy.serverGroup.targets" . | nindent 16 }}
          ignore_error: true
          labels:
            {{- include "promxy.serverGroup.labels" . | nindent 12 }}
          anti_affinity: {{ .antiAffinity | default "10s" }}
          scheme: {{ default "http" .scheme }}
          {{- with .httpClient }}
          http_client:
            {{- if .dialTimeout }}
            dial_timeout: {{ .dialTimeout | default "1s" }}
            {{- end }}
            {{- if .followRedirects }}
            follow_redirects: {{ .followRedirects }}
            {{- end }}
            {{- if .enableHttp2 }}
            enable_http2: {{ .enableHttp2 }}
            {{- end }}
            {{- include "promxy.serverGroup.auth" . | nindent 12 }}
            {{- with .tlsConfig }}
            tls_config:
              {{- if .ca }}
              ca: 
                {{- toYaml .ca | nindent 16 }}
              {{- end }}
              {{- if and .cert .key }}
              cert: 
                {{- toYaml .cert | nindent 16 }}
              key: 
                {{- toYaml .key | nindent 16 }}
              {{- end }}
              {{- if .serverName }}
              server_name: {{ .serverName }}
              {{- end }}
              {{- if .insecureSkipVerify }}
              insecure_skip_verify: {{ .insecureSkipVerify }}
              {{- end }}
            {{- end }}
            {{- if .httpHeaders }}
            http_headers:
              {{- toYaml .httpHeaders | nindent 14 }}
            {{- end }}
          {{- end }}
        {{- end }}
  {{- end }}
{{- end }}
