apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  labels:
    app: grafana
    name: grafana
    app.kubernetes.io/name: grafana
    app.kubernetes.io/component: grafana
    app.kubernetes.io/part-of: monitoring
    app.kubernetes.io/managed-by: monitoring-operator
spec:
  # Ingress: do not set spec.ingress here. In grafana-operator v5, there's no "enabled" field.
  # If spec.ingress is present (even with empty spec), Grafana Operator creates a catch-all (*) Ingress.
  # We manage Ingress via monitoring-operator (grafana.ingress) only.
  livenessProbeSpec:
    initialDelaySeconds: 60
    timeoutSeconds: 30
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 10
  readinessProbeSpec:
    initialDelaySeconds: 10
    timeoutSeconds: 10
    periodSeconds: 30
    successThreshold: 1
    failureThreshold: 10
