apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: platform-monitoring-prometheus
  labels:
    name: platform-monitoring-prometheus
    app.kubernetes.io/name: platform-monitoring-prometheus
    app.kubernetes.io/component: grafana
    app.kubernetes.io/part-of: monitoring
    app.kubernetes.io/managed-by: monitoring-operator
spec:
  instanceSelector:
    matchLabels:
      app.kubernetes.io/component: grafana
      app.kubernetes.io/part-of: monitoring
  datasource:
    access: proxy
    editable: true
    isDefault: true
    jsonData:
      timeInterval: 30s
      tlsSkipVerify: true
    name: Platform Monitoring Prometheus
    type: prometheus
    url: 'http://prometheus-operated:9090'
    version: 1